@{
    Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Title = "St. Germain, South Bay Cabin, Amenities";
	ViewBag.MetaDescription = "Enjoy all the northwoods have to offer with all the amenities of home.";
	ViewBag.MetaKeywords = "st. germain cabin, st. germain cabin rental, cabin rental, up north cabin, cabin to rent, minocqua cabin, eagle river cabin";    
}

<div class="post">
	<h2 class="title">Amenities</h2>
	<ul>
		<li>Two bedrooms (sleeps six)</li>
		<li>Two double beds</li>
		<li>One queen bed</li>
		<li>One twin bed</li>
		<li>Clean sheets included</li>
		<li>Full bath with standup shower (towels not included)</li>
		<li>Kitchen appliances (range, refrigerator, microwave, toaster, coffee maker)</li>
		<li>Color television (with vcr)</li>
		<li>Weber&reg; charcoal grill</li>
		<li>Picnic table and chairs</li>
		<li>Fire pit</li>
		<li>Patio area</li>
		<li>12' aluminum rowboat</li>
		<li><b>NON-SMOKING</b></li>
	</ul>

</div>

