@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Title = "St. Germain, South Bay Cabin";
	ViewBag.MetaDescription = "Welcome to South Bay Cabin.  South Bay Cabin is a family owned cabin for rent on Little St. Germain Lake.  It is not part of a resort.";
	ViewBag.MetaKeywords = "st. germain cabin, st. germain cabin rental, cabin rental, up north cabin, cabin to rent, minocqua cabin rental, eagle river cabin rental";  
}

<div class="post">
	<h2 class="title">@ViewBag.Message</h2>	
	<div style="clear: both;">&nbsp;</div>
	<div class="entry">
		<p>Welcome to South Bay Cabin.</p>
		<p>South Bay Cabin is a two bedroom, one bath, fully furnished cabin with all the creature comforts of home. South Bay Cabin's location gives you the peace and quiet of the Wisconsin Northwoods, but also the convenience of being only 10 minutes from downtown St. Germain. </p>
		<br />
		<div style="margin-left:auto; margin-right:auto; width:70%;"><img src="../content/images/index-lakeview.jpg"  title="South Bay Cabin from the lake"></img></div>
		<br />
		<p>Untie your boat from the pier and head out onto the water for water-skiing, tubing or wake-boarding. Want to slow things down... enjoy fishing for sunfish, walleye, crappie, northern and musky on all 980 acres of Little St. Germain Lake. Whatever your ideal vacation entails, South Bay Cabin is your perfect Northwoods getaway. </p>
		<br />

	</div>
</div>

