@{
    ViewBag.Title = "PageNotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="post">
	<h2 class="title">Page Not Found</h2>
	<p>We're sorry, the page you were attempting to view is not valid.  Please check the url and try again.</p>
	<br />

</div>

