@{
    Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Title = "St. Germain, South Bay Cabin, Rates";
	ViewBag.MetaDescription = "Enjoy all the northwoods have to offer without breaking the bank. ";
	ViewBag.MetaKeywords = "st. germain cabin, st. germain cabin rental, cabin rental, up north cabin, cabin to rent, minocqua cabin, eagle river cabin";    
}

<div class="post">
	<h2 class="title">Rates</h2>
	<ul>
		<li>$895 per week (up to six people)</li>
		<li>$250 deposit required</li>
		<li>$15 per day/per person over six people</li>
		<li>$150 per night, daily rate - four day minimum stay <b>OFFSEASON ONLY</b></li>
		<li>Balance due ten days prior to stay</li>
		<li>Applicable taxes of 5.5% sales tax and 4.5% room tax not included in above rates</li>
	</ul>

</div>